* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v125_275 {
  width: 100%;
  height: 5176px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v325_63 {
  width: 100%;
  height: 185px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4974px;
  left: 0px;
  overflow: hidden;
}
.v325_64 {
  width: 301px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 138px;
  left: 673px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v325_65 {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 64px;
  overflow: hidden;
}
.v325_66 {
  width: 100%;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v325_68 {
  width: 55px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 539px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v325_69 {
  width: 69px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 746px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v325_70 {
  width: 96px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 943px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v325_71 {
  width: 28px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1142px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v125_276 {
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v125_278 {
  width: 55px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 539px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v125_279 {
  width: 69px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 746px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v125_280 {
  width: 96px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 943px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v125_281 {
  width: 28px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1142px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v125_319 {
  width: 100%;
  height: 340px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 4582px;
  left: 0px;
  overflow: hidden;
}
.v125_320 {
  width: 100%;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 120px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v219_464 {
  width: 100%;
  height: 648px;
  background: url("../images/v219_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3615px;
  left: 0px;
  overflow: hidden;
}
.v220_498 {
  width: 351px;
  height: 344px;
  background: url("../images/v220_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 161px;
  overflow: hidden;
}
.v220_501 {
  width: 355px;
  height: 318px;
  background: url("../images/v220_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 631px;
  overflow: hidden;
}
.v220_503 {
  width: 406px;
  height: 318px;
  background: url("../images/v220_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 1105px;
  overflow: hidden;
}
.v223_610 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 77px;
  left: 113px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v326_95 {
  width: 100%;
  height: 307px;
  background: url("../images/v326_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 0px;
  overflow: hidden;
}
.v326_96 {
  width: 100%;
  height: 298px;
  background: url("../images/v326_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v326_102 {
  width: 100%;
  height: 280px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 4263px;
  left: 0px;
  overflow: hidden;
}
.v326_110 {
  width: 100%;
  height: 100%;
  background: url("../images/v326_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
.v326_103 {
  width: 100%;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 110px;
  left: 241px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 51px;
  opacity: 1;
  text-align: left;
}
.v125_307 {
  width: 100%;
  height: 738px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2905px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v125_316 {
  width: 100%;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 144px;
  overflow: hidden;
}
.v125_317 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v125_318 {
  width: 100%;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 90px;
  left: 183px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v217_451 {
  width: 955px;
  height: 240px;
  background: url("../images/v217_451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 362px;
  overflow: hidden;
}
.v223_629 {
  width: 282px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 680px;
  left: 686px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v125_337 {
  width: 100%;
  height: 937px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1968px;
  left: 0px;
  overflow: hidden;
}
.v216_427 {
  width: 887px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 118px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v216_429 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v216_430 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 384px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v216_435 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v216_436 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 384px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v216_437 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v216_438 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 666px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v216_439 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v216_440 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 666px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v216_449 {
  width: 793px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 89px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v222_486 {
  width: 100%;
  height: 944px;
  background: url("../images/v222_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1024px;
  left: 0px;
  overflow: hidden;
}
.v222_481 {
  width: 374px;
  height: 337px;
  background: url("../images/v222_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 89px;
  overflow: hidden;
}
.v222_483 {
  width: 402px;
  height: 263px;
  background: url("../images/v222_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 631px;
  overflow: hidden;
}
.v222_487 {
  width: 470px;
  height: 272px;
  background: url("../images/v222_487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 532px;
  left: 1118px;
  overflow: hidden;
}
.v125_290 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v215_387 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 89px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v215_388 {
  width: 415px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 354px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v222_434 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 639px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v222_435 {
  width: 415px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 354px;
  left: 1185px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v222_469 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 1194px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v222_470 {
  width: 415px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 354px;
  left: 630px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v223_600 {
  width: 793px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 199px;
  left: 89px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v125_284 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v211_323 {
  width: 100%;
  height: 960px;
  background: url("../images/v211_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v218_460 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 758px;
  left: 372px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: center;
}
